body {
background-color: #fff;
padding: 30px 100px 0 100px;
margin: 0;
}

@media (max-width:1269px) {
.pseudo_pict {
display: none;
}
}

@media (min-width:768px) {
.mobile {
display: none!important;
} 
}

@media (max-width:768px) {
body { padding: 0!important;}

#checkbox:checked ~ .menu {
background-color: #191A23;
border-radius: 10px;
width: 100%;
justify-content: center;
margin-top: 10px;
}

.menu ul li a {
color: #ffffff!important;
margin-right: 0!important;
}

.menu-icon {
display: block!important;
}

.menu ul {
flex-direction: column!important;
max-height: 0;
}


.menu ul li {
padding: 10px 15px!important;
}

.about_us {
flex-direction: column-reverse!important;
margin: 10px 0 70px 0!important;

}
.about_us_text  {
width: auto!important;
padding-right:0!important;
}

.about_us_text h1 {
margin-top: 0;
}

.btn_request {
padding: 10px 15px!important;
width: 200px!important;
height: 30px!important;
color: #B9FF66!important;
justify-content: center;
}

.about_us_pict, 
.dark_block,
.social {
display: none!important;
} 


.btn {
padding: 10px 15px!important;
width: 90%!important;
font-size: 18px!important;
}

.green_text {
width: auto!important;
flex-direction: column!important;
align-items: flex-start!important;
margin-top: 40px!important;
}

.green_text p {
padding-left: 0!important;
}

.card {
width: auto!important;
margin-top: 40px!important;
}

.card_child {
font-size: 24px!important;
}

.card_wrapper_learn {
align-items: flex-end!important;
}

.card_pict {
justify-content: center!important;
align-items: center!important;
}

.card_wrapper_learn span {
display: none;
}

.dark_block {
margin-top: 40px!important;
}

.dark_text {
font-size: 14px!important;

}

.gray_block_text {
margin: 40px!important;
}

.gray_block {
margin-top: 40px!important;
}

.brands {
flex-wrap: wrap!important;
}

.heading {
margin-top: 40px!important;

}

.heading h3 {
margin: 0!important;
font-size: 30px!important;

}

.heading span {
font-size: 18px!important;
padding-right: 50px;
}

.heading::after {
left: 85%!important;
width: 40px!important;
height: 40px!important;
}

.accordion_trigger {
padding: 0px 20px!important;
margin-top: 40px!important;
height: 106px!important;

}

.accordion_trigger::after {
top: 40%!important;
left: 80%!important;
width: 29px!important;
height: 30px!important;
background-size: contain!important;
background-repeat: no-repeat;
}


.accordion_trigger::before {
top: 40%!important;
left: 80%!important;
width: 29px!important;
height: 30px!important;
background-size: contain!important;
background-repeat: no-repeat;
}

.accordion_target p {
font-size: 16px!important;
}

.accordion {
padding: 0;
}

.section_btn {
justify-content: center;
width: 100% !important;

}    
.green_text {
align-items: center!important;
}

.green_text p {
text-align: center;
}
}

@media (min-width: 768px) { 

.menu ul {
max-height: 100%;
padding: 15px 0;
flex-wrap: wrap;

} 

}

nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.menu-icon {
font-size: 2.4em;
color: #000000;
line-height: 50px;
cursor: pointer;
}

.menu {
display: flex;
align-items: center;
flex-wrap: wrap;
background-color: inherit;

}

.menu ul {
list-style-type: none;
overflow: hidden;
transition: all 0.5s;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
}
.menu ul li {
padding: 15px 10px;
}
.menu ul li a {
font-family: "Space Grotesk", sans-serif;
color: #000;
text-decoration: none;
font-size: 20px;
line-height: 140%;
font-weight: 400;
margin-right: 40px;
transition: 0.5s ease-in;
}

.menu ul li a:hover, .menu ul li a:focus {
color: #B9FF66!important;
}

.menu ul li div:hover, .menu ul li div:focus, .btn:hover, .btn:focus {
color: #B9FF66!important;
background-color: #191A23!important;
}

#checkbox {
display: none;
}

#checkbox:checked ~ .menu ul {
max-height: 350px;
padding: 15px 0;
transition: all 0.5s;
}


.btn_request {
display: flex;
align-items: center;
justify-content: center;
font-family: "Space Grotesk", sans-serif;
color: #000;
border: 1px solid #191A23;
border-radius: 14px;
padding: 20px 35px;
width: 231px;
height: 38px;
font-size: 20px;
text-align: center;
cursor: pointer;
transition: 0.5s ease-in;
}

.menu-icon {
display: none;
}

.about_us {
display: flex;
flex-direction: row;
margin: 70px 0;
}

h1 {
font-size: 60px;
font-family: "Agdasima", sans-serif;
font-weight:500;
order: 1;
}

.about_us_text {
width: 50%;
padding-right: 100px;
font-size: 20px;
font-family: "Space Grotesk", sans-serif;
order: 2;
}

.btn {
display: flex;
justify-content: center;
align-items: center;
border-radius: 14px;
padding: 20px 35px;
width: 264px;
height: 38px;
background: #191A23;
color: #fff;
cursor: pointer;
margin-top: 35px;
font-size: 20px;
font-family: "Space Grotesk", sans-serif;
transition: 0.5s ease-in;
}

.about_us_pict {
order: 4;
}


.brands {
display: flex;
flex-direction: row;
justify-content: space-between;

}

.brands img {
filter: grayscale(1);
}

.green_text {
display: flex;
flex-direction: row;
margin-top: 140px;
width: auto;
align-items: center;
}

h2 {
font-size: 40px;
font-weight: 600;
border-radius: 7px;
padding: 0px 7px;
background-color: #B9FF66;
font-family: "Agdasima", sans-serif;    
}

.green_text p {
padding-left: 40px;
font-weight: 400;
font-size: 18px;
font-family: "Space Grotesk", sans-serif;
}

.card {
display: flex;
flex-wrap: wrap;
gap: 40px;
margin-top: 80px;
}

.card_child  {
display: grid; 
grid-template-columns: 0.7fr 1.3fr; 
grid-template-rows: 70px 200px; 
gap: 0px 0px; 
grid-template-areas: 
"header_mob header_mob"
"card_wrapper_learn card_pict"; 

}
.header_mob { grid-area: header_mob; }
.card_wrapper_learn { grid-area: card_wrapper_learn; }
.card_pict { grid-area: card_pict;}


.card_child {
flex: 1 0 calc(40% - 20px);
border: 1px solid #191A23;
border-radius: 45px;
padding: 50px;
height: 270px;
box-shadow: 0 5px 0 0 #191A23;
background-color: #B9FF66;
font-family: "Space Grotesk", sans-serif;  
font-weight: 600;
font-size: 30px;

}

.card_search, 
.card_email {
background-color: #F3F3F3;
}



.card_pay,
.card_content {
background-color: #B9FF66;
}

.card_social,
.card_analytics {
background-color: #191A23
}

.card_wrapper {
display: flex;
flex-direction: column;
justify-content: space-between;    
}

.card_wrapper_learn {
display: flex;
align-items: flex-end
}

.card_wrapper_learn span{
padding-left: 15px;
font-size: 20px;
}

.card_pict {
display: flex;
justify-content: flex-end
}


.gray_block {
margin-top: 120px;
background-color: #F3F3F3;
border-radius: 45px;
width: 100%;
display: flex;

}

.gray_block_text {
margin: 60px;
}

.gray_block_text h3 {
font-family: "Space Grotesk", sans-serif;  
font-weight: 600;
font-size: 30px;
margin: 0;
}

.gray_block_text p {
font-family: "Space Grotesk", sans-serif;
font-weight: 400;
font-size: 18px;
}

.pseudo_pict {
position: relative;
width: 100%;
height: 100px;
}

.pseudo_pict::after{
position: absolute;
top: -40%;
right: 15%;
bottom: 0;
content: '';
background: url(img_green/stars_pict.svg);
width: 370px;
height: 410px;
background-size: cover;
}

.dark_block {
display: flex;
flex-direction: row;
border-radius: 45px;
padding: 50px 20px;
background-color: #191A23;
margin-top: 80px;
}

.dark_text {
color: #fff;
font-weight: 300;
font-size: 18px;
font-family: "Space Grotesk", sans-serif;
}

.dark_text {
padding: 0 4% 0 4%;
border-right: 1px solid #fff;
}

.dark_text:last-child {
border-right: none;
}

.dark_learn {
display: flex;
flex-direction: row;
}

.dark_learn a {
color: #B9FF66;
margin-right: 15px;
text-decoration: none;
}

.dark_block_mobile {
display: flex;
flex-direction: column;
}

.dark_text_mobile {
border-radius: 45px;
padding: 30px 20px;
background-color: #191A23;
margin-top: 40px;
color: #fff;
font-weight: 300;
font-size: 18px;
font-family: "Space Grotesk", sans-serif;
}

.dark_learn_mobile a {
color: #B9FF66;
margin-right: 15px;
text-decoration: none;
}

summary {
list-style: none;
}


.lite_block {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 40px 35px;

}

.lite_card {
flex: 1 0 calc(25% - 20px);
display: flex;
flex-direction: column;
border: 1px solid #191A23;
border-radius: 45px;
padding: 40px 35px;
width: 180px;
height: 230px;
box-shadow: 0 5px 0 0 #191A23;
background: #fff;
} 

.personal_lite_card {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-end;
position: relative;
}

.name_lite_card {
display: flex;
flex-direction: column;
margin-left: 20px;
}

.name_lite_card p {
font-family: "Space Grotesk", sans-serif;
color: #000;
font-weight: 600!important;
font-size: 20px;
margin: 0;
}

.name_lite_card span,
.lite_card p {
font-family: "Space Grotesk", sans-serif;
color: #000;
font-weight: 400;
font-size: 18px;
}

hr {
width: 100%;
}



.personal_lite_card::before {
content: '';
background-image: url('img_green/in.svg');
position: absolute;
right: 0;
top: -20px;
bottom: 0;
width: 34px;
height: 34px;
background-size: cover;
background-repeat: no-repeat;
background-position: 0 0;    
}

.section_btn {
display: flex;
justify-content: flex-end;
}

.heading {
display: flex;
flex-direction: row;
align-items: center;
}

.heading h3 {
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-size: 60px;
}

.heading span {
margin-left: 10px;
font-family: "Space Grotesk", sans-serif;
font-weight: 500;
font-size: 30px;
}


.accordion_target p {
margin-left: 10px;
font-family: "Space Grotesk", sans-serif;
font-weight: 400;
font-size: 20px;
border-top: 2px solid #191A23;
padding-top: 3%;
}


.accordion {
list-style: none;
}


.accordion_trigger {
display: block;
position: relative;
border: 1px solid #191A23;
border-bottom: none;
border-radius: 45px;
padding: 41px 60px;
width: auto;
height: 159px;
box-shadow: 0 5px 0 0 #191A23;
background: #F3F3F3;
cursor: pointer;
margin-top: 80px;
}

.accordion_toggle:checked ~ .accordion_trigger::after {
display: none;
}

.accordion_toggle:checked ~.accordion_trigger {
box-shadow: none;
height: 90px;
}

.accordion_toggle:checked ~ .accordion_trigger::before {
position: absolute;
top: 70%;
left: 90%;
bottom: 0;
background-image: url('img_green/Minus\ icon.svg');
width: 49px;
height: 50px;
background-size: cover;
content: ''; 
}

.accordion_trigger::after {
position: absolute;
top: 50%;
left: 90%;
bottom: 0;
background-image: url('img_green/Plus\ icon.svg');
width: 49px;
height: 50px;
background-size: cover;
content: '';
}

/* меняем цвет фона у активного переключателя */

.accordion_toggle:checked ~ .accordion_trigger {
border-radius: 45px 45px 0 0;
background: #B9FF66;
}

/**
* эти элементы radio/checkbox всегда должны быть скрыты.
*/
.accordion_toggle {
position: absolute;
display: none;
}
/**
* скрытое содержание аккордеона.
*/
.accordion_target {
border: 1px solid #191A23;
border-radius: 0 0 45px 45px;
border-top: none;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
background-color: #ddd;
box-shadow: 0 5px 0 0 #191A23;
background: #B9FF66;
}
/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/    
.accordion_toggle:checked ~ .accordion_target {
position: static;
overflow: visible;
clip: auto;
margin: auto;
padding: 1.2rem;
width: auto;
height: auto;
/* задержка появления  функция анимации */
-webkit-animation:fadeIn ease-in 0.5s; 
-moz-animation:fadeIn ease-in 0.5s;
animation:fadeIn ease-in 0.5s; 
}

/* @media (max-width: 768px) {
    footer {  display: grid;
        grid-template-columns: 1fr!important;
        grid-template-rows: 0.5fr 1fr 0.2fr!important;
        grid-auto-columns: 1fr!important;
        gap: 0px 0px;
        grid-auto-flow: row dense!important;
        grid-template-areas:
          "f-header f-header f-header"
          "f-contacts f-contacts f-contacts"
          "f-copy f-copy f-copy"!important;
      }
      
      .f-header {  display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 0.1fr 0.3fr 0.1fr !important;
        gap: 0px 0px;
        grid-auto-flow: row!important;
        grid-template-areas:
          "logo logo logo"
          "f-menu f-menu f-menu"
          "social social social"!important;
        grid-area: f-header;
        justify-items: center!important;
      }
      
      .logo { grid-area: logo; }
      
      .f-menu { grid-area: f-menu; }
      
      .social { grid-area: social; }
      
      .f-contacts {  display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 0.2fr 0.8fr !important;
        gap: 0px 0px;
        grid-auto-flow: row!important;
        grid-template-areas:
          "contact_us contact_us contact_us"
          "form form form"!important;
        grid-area: f-contacts;
        justify-items: center!important;
      }
      
      .contact_us { grid-area: contact_us; }
      
      .form { grid-area: form; }
      
      .f-copy {  display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 20px 20px !important;
        gap: 0px 0px;
        grid-auto-flow: row!important;
        grid-template-areas:
          "year year year"
          "privacy privacy privacy"!important;
        grid-area: f-copy;
        justify-items: center!important;
      }
      
      .year { grid-area: year; }
      
      .privacy { grid-area: privacy; }


      .f-menu {
        flex-direction: column!important;
        align-items: center!important;
      
}
}

footer {
background-color: #191A23;
border-radius: 45px 45px 0 0;
padding: 55px 60px;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.4fr 0.6fr; 
    grid-template-rows: 100px 1fr 100px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "f-header f-header f-header"
      "f-contacts f-contacts f-contacts"
      "f-copy f-copy f-copy"; 
  }
  .f-header {
    display: grid; 
    grid-template-columns: 1fr 1.4fr 0.6fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo f-menu social"
      "logo f-menu social"
      "logo f-menu social"; 
    grid-area: f-header; 
    align-items: center;
    
  }
  .logo { grid-area: logo;}
  .f-menu {
    grid-area: f-menu; 
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}
  .social { grid-area: social;}
  .social img {
    padding-right: 10px;
  }
  .f-contacts {
    display: grid; 
    grid-template-columns: 1.3fr 0.7fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "contact_us form form"
      "contact_us form form"
      "contact_us form form"; 
    grid-area: f-contacts; 
    align-items: center;
  }
  .form { grid-area: form; }
  .contact_us { grid-area: contact_us; }
  .f-copy {
    display: grid; 
    grid-template-columns: 1fr 2fr 0fr; 
    grid-template-rows: 0.5fr 1.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "year privacy privacy"
      "year privacy privacy"
      "year privacy privacy"; 
    grid-area: f-copy; 
    align-items: end;
    border-top: 1px solid #fff;
  }
  .year { grid-area: year; }
  .privacy { grid-area: privacy; }

.f-menu a, .privacy a, .contact_us p, .year {
    color: white;
    padding-right: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

.contact_us h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    border-radius: 7px;
    padding: 0px 7px;
    background: #B9FF66;
    width: 115px;
    height: 23px;
} */

@media (max-width:768px) {
  .f-header, .f-menu, .logo  {
flex-direction: column!important;
align-items: center;
  }

  .logo {
    margin-bottom: 30px;

  }

  .f-menu a {
    padding-bottom: 20px;
    text-decoration: none;
  }

  .f-contacts {
    display: block!important;
    margin: 0!important;
  }

  .contact_us  {
    display: flex;
    flex-direction: column!important;
    align-items: center!important;
  }

  .contact_us p {
    text-align: center!important;
    margin: 10px;

  }

  .form {
  flex-direction: column!important;
  margin-top: 40px;
}

.form input {
  margin-bottom: 20px;
  margin-right: 0!important;
}

}

footer {
display: flex;
background-color: #191A23;
border-radius: 45px 45px 0 0;
padding: 55px 60px;
flex-direction: column;
}

.f-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 25%;
  display: flex;
}

.f-menu {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.f-menu a {
color: #fff;
font-family: "Space Grotesk", sans-serif;
}

.social {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.social_mob {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.social img {
  padding-left: 20px;
}

.social_mob img {
  padding: 37px 20px 0 20px;
 }

 .f-contacts {
display: flex;
justify-content: space-between;
margin-top: 66px;
 }


.contact_us .h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  border-radius: 7px;
  padding: 0px 4px;
  background: #B9FF66;
  width: 115px;
  height: 23px;
} 

.contact_us p {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}

.form {
border-radius: 14px;
padding: 58px 40px;
width: auto;
background: #292a32;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

}

.form input {
  border: 1px solid #fff;
  border-radius: 14px;
  padding: 22px 35px;
  background-color: transparent;
  margin-right: 20px;
  color: #fff;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.form button {
  border-radius: 14px;
  padding: 20px 35px;
  height: 68px;
  background: #B9FF66;
  font-weight: 600;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.f-hr {
  margin: 37px 0;
}

.f-copy {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

.privacy a {
  color: #fff;
  padding-left: 40px;
}



